{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Files" %}{% endblock %}
{% block content %}
	<div class="container">
        <div class="jumbotron">
            <div class="container">
                <div id="custom-toolbar">
                    <form class="form-inline" role="form" method="post" action="{% url "home" %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.file }}
                        <button type="submit" class="btn btn-default" title="{% trans "Upload" %}">
                            <i class="glyphicon glyphicon-upload icon-upload"></i>
                        </button>
                    </form>
                </div>
                <table
                        id="data-table"
                        data-height="100%"
                        data-show-refresh="true"
                        data-show-columns="true"
                        data-side-pagination="client"
                        data-pagination="true"
                        data-checkbox-header="false"
                        data-page-list="[5, 10, 20, 50, 100]"
                        data-search="true"
                        data-toolbar="#custom-toolbar">
                    <thead>
                        <tr>
                            <th data-field="filename" data-sortable="true">{% trans "Filename" %}</th>
                            <th data-field="operate" data-formatter="actionFormatter" class="col-md-1" >{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                </table>
            </div> <!-- /.container -->
        </div> <!-- /.jumbotron -->
    </div> <!-- /.container -->
{% endblock content %}

{% block script %}
    <script>
        $('#data-table').bootstrapTable({
            url: "{% url 'load-user-files' %}"
        });
    </script>
    <script>
    function actionFormatter(value, row, index) {
        return [
            '<a href="/files/download/' + row.hash + '/?filename=' + row.filename + '" title="{% trans 'Download' %}">',
                '<i class="glyphicon glyphicon-download"></i>',
            '</a>',
{#            '<a href="/files/remove/' + row.record_pk +  '/" title="{% trans 'Remove' %}">',#}
{#                '<i class="glyphicon glyphicon-remove"></i>',#}
{#            '</a>'#}
            '<form style="display: inline-block; margin-left: 5px;" class="form-inline" role="form" method="post" action="remove/' + row.record_pk + '/">',
            '<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">',
                '<a style="cursor:pointer;" title="{% trans 'Delete' %}"><i class="glyphicon glyphicon-remove" onclick="this.parentElement.submit();"></i></a>',
            '</form>'

        ].join('');
    }
    </script>
{% endblock %}
