html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.wrapper:after {
 content: "";
  display: block;
}

#page-footer, .wrapper:after {
	height: 100px; /* '.push' must be the same height as 'footer' */
}

#page-footer {
	border-top: 2px solid rgb(218, 218, 218);
	background-color: rgb(238, 238, 238);
	text-shadow: rgb(217, 217, 217) 1px 1px 0px
}