{% load i18n %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Filebrowser' %}</a>
            </div>
            <div class="navbar-collapse collapse">

            {% if user.is_authenticated %}

                <ul class="nav navbar-nav navbar-right">
                    <li id="fat-menu" class="dropdown">
                        <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'django.contrib.auth.views.logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    {% trans 'Logout' %}
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'django.contrib.auth.views.password_change' %}">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    {% trans 'Change password' %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div><!--/.navbar-collapse -->
        </div>
    </div>


