{% load staticfiles %}
<link href="{% static "asdco/css/custom.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'asdco/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'asdco/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'asdco/bootstraptable/bootstrap-table.min.css' %}">


<script src="{% static 'asdco/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'asdco/js/jquery.cookie.js' %}"></script>
<script src="{% static 'asdco/js/bootstrap.min.js' %}"></script>
<script src="{% static 'asdco/js/bootstrap-filestyle.min.js' %}"></script>

<script src="{% static 'asdco/bootstraptable/bootstrap-table.min.js' %}"></script>
<script src="{% static 'asdco/bootstraptable/extensions/filter/bootstrap-table-filter.min.js' %}"></script>
<script src="{% static 'asdco/bootstraptable/extensions/flatJSON/bootstrap-table-flatJSON.min.js' %}"></script>