{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
<div class="container">
<div class="width320" style="max-width: 380px; margin: 0 auto;">
  <div class="row">
    <div class=" col-sm-10"  style="margin-bottom: 20px;">
      <h1>{% trans "Sign in" %}</h1>
      <p>{% trans "Not yet registered" %}?
        <a href="{% url 'registration_register' %}">{% trans "Register now" %}!</a></p>
      <p>{% trans "Trouble signing in" %}?
        <a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Reset password" %}.</a></p>
    </div>
  </div>

  {% if form.errors %}
  <div class="row">
    <div class="alert alert-danger col-sm-6">
      <p><strong>{% trans "Login failed" %}. {% trans "Try again" %}...</strong></p>
    </div>
  </div>
  {% endif %}

  <form action="{% url 'django.contrib.auth.views.login' %}"
      method="post" 
      role="form"
      class="form-horizontal">
    {% csrf_token %}

{#    {% bootstrap_field form.username layout='horizontal' %}#}

    <label>{{ form.username.label }}</label>
    {{ form.username|add_class:"form-control" }}

    <label style="padding-top: 10px;">{{ form.password.label }}</label>
    {{ form.password|add_class:"form-control" }}

{#    {% bootstrap_field form.password layout='horizontal' %}#}
    {% if next %}
      <p><input type="hidden" name="next" value="{{ next }}" /></p>
    {% else %}
      <p><input type="hidden" name="next" value="{% url 'home' %}" /></p>
    {% endif %}
    {% buttons %}
    <div class=" col-sm-10">
      <button type="submit" class="btn btn-primary">
          <i class="glyphicon glyphicon-log-in"></i>
         {% trans "Sign in" %}
      </button>
    </div>
    {% endbuttons %}
  </form>
</div>

</div>
{% endblock %}
