{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sign out" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Sign out" %}</h1>
        <p class="lead">{% trans "You are now signed out" %}</p>
        <p><a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Sign in" %}</a></p>
    </div>
{% endblock %}
