{% extends "base.html" %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<div class="container">
<div class="width320" style="max-width: 380px; margin: 0 auto;">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-10">
      <h1>{% trans "Sign up" %}</h1>
      <p>{% trans "Already registered" %}?
        <a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Sign in here" %}.</a></p>
    </div>
  </div>

  <form action="{% url 'registration_register' %}" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
{#    {% bootstrap_form form layout='horizontal' %}#}
   <label>{{ form.username.label }}</label>
  {{ form.username|add_class:"form-control" }}
  <label style="padding-top: 10px;">{{ form.email.label }}</label>
  {{ form.email|add_class:"form-control" }}
   <label style="padding-top: 10px;">{{ form.password1.label }}</label>
  {{ form.password1|add_class:"form-control" }}
  <label style="padding-top: 10px;">{{ form.password2.label }}</label>
  {{ form.password2|add_class:"form-control"|attr:"style:margin-bottom: 20px" }}

    {% buttons %}
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-star"></span>
        {% trans "Sign Me Up" %}
      </button>
    </div>
    {% endbuttons %}
  </form>
</div>
</div>
{% endblock %}
