{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>{% block title %}{% endblock %}</title>

      {% include "asdco/include/styles.html" %}

  </head>
{% load i18n %}
<body>
  <div class="wrapper">
    {% include "asdco/include/navbar.html" %}
    {% include "asdco/include/messages.html" %}
      {% block content %}
      {% endblock %}
  </div>
{% include "asdco/include/footer.html" %}

{% block script %}
{% endblock %}
</body>
</html>
